@charset "utf-8";
/* CSS Document */
<!--
.style1 {
	font-size: 38px;
	font-weight: bold;
	color: #006600;
}
.style2 {
	color: #006633;
	font-size: large;
}
.style6 {font-size: small; font-weight: bold; }
.style7 {font-size: small}
.style8 {font-size: medium}
.style9 {font-size: large}
-->

